#MLProperties: name (type:default) min:max -- information
#MLProp : wrongPlace (int:1,>=1.0) -- You're looking in the wrong place for the mod's properties file. Check /mods/portalgun/ for mod_PortalGun.properties
#
#Wed Jul 18 15:16:00 BST 2012
wrongPlace=1
