# Configuration file
# Generated on 25/07/12 20:30

####################
# block 
####################

block {
   factoryBlocks.id=4093
   rockwoolBlock.id=4091
   slagGlassBlock.id=601
}

####################
# general 
####################

general {
   lavaMJ.value=20000
}

####################
# item 
####################

item {
   alloyItem.id=28002
   componentItem.id=28003
   mineralItem.id=28000
   pulverizedItem.id=28001
   reconfigToolItem.id=28010
}

