# Configuration file
# Generated on 11/07/12 19:51

####################
# block 
####################

block {
   electricEngine=125
   pneumGenerator=126
}

####################
# general 
####################

general {
   Check if the correct versions are installed=true
   EU to MJ denominator=5
   EU to MJ numerator=2
   Enable HV Conductive Pipe=true
   Enable electric engines=true
   Enable fixing the strenght of lava as fuel in combustion engines=true
   Enable pneumatic generators=true
   denominatorEUtoMJ=5
   numeratorEUtoMJ=2
}

####################
# item 
####################

item {
   powerPipeHV=4329
}

