#stuff
options.txt
optionsof.txt
optifog.log
MagdyCraft/instances/Multi/minecraft/journeyMap/data
*.log
*.log.lck
MagdyCraft/instances/Multi/minecraft/bin
MagdyCraft/instances/Multi/minecraft/stats
MagdyCraft/instances/Multi/minecraft/saves
MagdyCraft/instances/Multi/minecraft/texturepacks
MagdyCraft/instances/Multi/minecraft/screenshots
MagdyCraft/instances/Multi/minecraft/mods/rei_minimap
MagdyCraft/instances/Multi/minecraft/config/AdvancedHud
MagdyCraft/instances/Multi/minecraft/config/InvTweaks*.*
MagdyCraft/instances/Multi/minecraft/config/NEI*.cfg
MagdyCraft/instances/Multi/minecraft/mods/console
MagdyCraft/instances/Multi/instance.cfg
MagdyCraft/lastlogin
MagdyCraft/multimc.cfg
MagdyCraft/lastlogin4